@import "./material";
@import "~angular-notifier/styles";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background: rgb(245, 245, 245);
  margin: 0;
  font-size: $sm-font-size;
}

.mat-success {
  background-color: mat-contrast($mat-extra, success);
  color: mat-color($mat-extra, success);
}

.mat-disabled {
  background-color: mat-color($mat-extra, alternate-600);
  color: mat-contrast($mat-extra, alternate-600);
}

.brand {
  color: white;
  margin: 0;
}

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

.mat-menu-panel {
  padding: 0 0.4% !important;
}

.mat-form-field-wrapper {
  margin-right: 10px !important;
}

.breadcrumb {
  padding: 0px 10px !important;
  background-color: mat-contrast($bv-palette-primary, 900);
  vertical-align: middle !important;
  line-height: 40px;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.breadcrumb > mat-icon {
  position: relative;
  top: 6px;
}

.stepperbreadcrumb {
  padding: 0px 10px !important;
  background-color: mat-color($bv-palette-primary, A100);
  vertical-align: middle !important;
  line-height: 40px;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.stepperbreadcrumb > mat-icon {
  position: relative;
  top: 6px;
}

.selected {
  background-color: mat-color($bv-palette-primary);
}

.mat-header-cell {
  font-size: $sm-font-size;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

tr.mat-header-row {
  height: 45px !important;
  // background-color: $app-theme-disabled-secondary !important;
  color: rgba(0, 0, 0, 0.54);
  // background: rgba(0, 0, 0, 0.03);
}

tr.mat-footer-row,
tr.mat-row {
  height: 40px !important;
}

tr.highlight-row:hover {
  background: rgb(238, 235, 235);
}

tr.highlight-row:active {
  background: rgb(129, 129, 134);
}

th.mat-sort-header-sorted {
  color: rgb(240, 226, 226);
}

.mat-sort-header-arrow {
  margin: 0 0 0 6px !important;
  color: black !important;
  font-weight: bold !important;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}

.mat-tab-body-wrapper {
  padding: 20px 30px;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

.mat-list-base .mat-list-item {
  font-size: $sm-font-size;
}

table {
  width: 100%;
}

.mat-drawer-transition .mat-drawer-backdrop {
  z-index: 1000;
  top: 45px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.matFormFilter {
  display: unset !important;
}

.formWidth {
  width: 40%;
}

.ff-card {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 0.8rem 0;
}

.ff-card-header {
  align-content: center;
  align-items: center;
  display: flex;
  // justify-content: center;
  padding: 8px 20px;
  color: mat-contrast($bv-palette-primary, 900);
  background: mat-color($bv-palette-primary);
  font-size: $header-font-size;
}

.ff-card-header > .title {
  flex: 1 1 auto;
}

.fin {
  color: mat-color($bv-palette-primary);
}

.flowz {
  color: #ed1c24;
}

.mat-toolbar.mat-primary {
  background: mat-color($bv-palette-primary);
}

.bgColor {
  background-color: #e9e7e7;
}

.buttonalign {
  text-align: right;
  padding-right: 25pt;
  padding-top: 5pt;
}

// .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
//   padding: .25em 0 !important;
//   border-top: unset !important;
// }
.list-chips > .mat-chip-list-wrapper > .mat-standard-chip {
  padding: 5px 10px !important;
  border-radius: 4px !important;
  min-height: 25px !important;
}

.list-chips > .mat-chip-list-wrapper > .mat-standard-chip > .mat-icon {
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
}

// Table scroll scss
table {
  width: 100%;
}

.table-scroll-wrap {
  position: relative;
  width: 100%;
}

.table-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.table-scroll::-webkit-scrollbar {
  width: 0.3em;
}

.table-scroll::-webkit-scrollbar,
.table-scroll::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 1px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.cover-bar {
  position: absolute;
  background: #fff;
  height: 100%;
  top: 0;
  right: 0;
  width: 0.3em;
  -webkit-transition: all 0.5s;
  opacity: 1;
}

/* MAGIC HAPPENS HERE */

.table-scroll-wrap:hover .cover-bar {
  opacity: 0;
  -webkit-transition: all 0.5s;
}

.top-mat-accordion > .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.top-mat-accordion > .mat-expansion-panel {
  border-radius: 0 !important;
}

.top-mat-accordion > .mat-expansion-panel > .mat-expansion-panel-header {
  padding: 0 10px !important;
}

.mat-expansion-panel-header-title {
  align-items: center !important;
  font-size: $sm-font-size;
}

.branchicon {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 16px;
  vertical-align: middle;
}

.mat-menu-panel {
  border-radius: 0 !important;
}

.pick-branch-panel > .mat-expansion-panel-content > .mat-expansion-panel-body {
  position: relative !important;
}

.stepper-cut-info {
  float: left;
  width: 29%;
}

.popup-table-scroll-wrap {
  position: relative;
  width: 100%;
}

.popup-table-scroll {
  max-height: 325px;
  overflow-y: auto;
}

.popup-table-scroll::-webkit-scrollbar {
  width: 0.3em;
}

.popup-table-scroll::-webkit-scrollbar,
.popup-table-scroll::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 1px;
}

.popup-table-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.chart-legend .legend-labels {
  display: flex;
  flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

.mat-option {
  font-size: $sm-font-size !important;
}

.mat-list-item-content {
  width: 100%;
}

.mat-form-field-required-marker {
  color: mat-color($bv-palette-warn);
}

input.ng-invalid {
  border-right: 2px solid mat-color($bv-palette-warn);
}

.mat-select.ng-invalid {
  border-right: 2px solid mat-color($bv-palette-warn);
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-pointer-table:hover {
  cursor: pointer;
  background-color: mat-color($bv-palette-primary, 50);
}

.w100 {
  width: 100%;
}

/* css for uistages and multipurpose bar view size */
.expand-ui-stages {
  display: none;
}
